# Исключение виртуального окружения
myenv/
venv/
.venv/
node_modules/
# Исключение файлов/папок редакторов кода
.vscode/
.idea/

# Исключение файлов баз данных
*.sqlite3

# Исключение скомпилированных Python файлов
__pycache__/
*.py[cod]
